services:
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    env_file:
      - ./.env
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: always
    volumes:
      - pgadmin-data:/var/lib/pgadmin

  postgres:
    container_name: postgres
    image: postgres:15
    env_file:
      - ./.env
    ports:
      - '5432:5432'
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/data

  api-gateway:
    container_name: api-gateway
    build:
      context: .
      dockerfile: ./services/api-gateway/Dockerfile
    ports:
      - 3000:3000
      - 9229:9229
    env_file:
      - ./services/api-gateway/.env
    restart: unless-stopped
    volumes:
      - ./services/api-gateway:/app/services/api-gateway
      - ./proto:/app/proto
      - /app/services/api-gateway/node_modules
    depends_on:
      - auth-service
    command: sh -c "yarn start:dev"

  auth-service:
    container_name: auth-service
    build:
      context: .
      dockerfile: ./services/auth-service/Dockerfile
    ports:
      - 3001:3001
      - 50051:50051
    env_file:
      - ./services/auth-service/.env
    restart: unless-stopped
    volumes:
      - ./services/auth-service:/app/services/auth-service
      - ./proto:/app/proto
      - /app/services/auth-service/node_modules
    depends_on:
      - postgres
    command: sh -c "yarn prisma migrate deploy && yarn start:dev"

  agentflow-service:
    container_name: agentflow-service
    build:
      context: .
      dockerfile: ./services/agentflow/Dockerfile
    ports:
      - 50052:50052
    env_file:
      - ./services/agentflow/.env
    restart: unless-stopped
    volumes:
      - ./services/agentflow:/app/services/agentflow
      - ./proto:/app/proto
      - /app/services/agentflow/node_modules
    command: sh -c "npm run start:dev"

volumes:
  db-data:
  pgadmin-data:
